*
{
	margin: 0;
	paddiing: 0;
}
{
	font-family: helvetica;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right, #0066ff,#000099);
	padding: 0 !important;
}
.navbar-nav li
{
	Padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important ;
	font-weight: 600;
	float: right;
	text-align: left;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.nabbar-toggler
{
	outline: none !important;
}



#top
{
	background-image: linear-gradient(to right, #0066ff,#000099);
	color: #fff;
	padding-top: 5%;
}

/*-----banner section-----*/
#banner
{
	background-image: linear-gradient(to right, #0066ff,#000099);
	color: #fff;
	padding-top: 5%;
}

#banner2
{
	background-image: linear-gradient(to right, #fff, #fff);
	color: #fff;
	padding-top: 5%;
}

.title-one
{
	text-align: left;
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
} 
.NameSLCR
{
	width: 1000px;
	margin: 20px;
}

.title-two
{
	text-align: left;
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}
.description-one
{
	text-align: left;
	font-size: 24px;
	font-weight: 600;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.description-two
{
	text-align: right;
	font-size: 20px;
	font-weight: 600;
	margin-top: 100px;
}

.description-three
{
	font-size: 20px;
	text-align: center;
	color: #000;
	font-weight: 600;
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
}

.NameOne
{
	width: 500px;
	margin: 20px;
}
.AIOSLCR
{
	width: 1000px;
	margin: 20px;
}
.AIOProg
{
	width: 500px;
	margin: 20px;
}
.AIOONE
{
	width: 750px;
	margin: 20px;
}

.PFP
{
	width: 600px;
	display: block;
	
	margin-left: auto;
	margin-right: auto;
}

.RES
{
	width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.LINK
{
	font-size: 20px;
	text-align: center;
	color: #00F;
	font-weight: 600;
}


#banner a 
{
	color: #fff;
	text-decoratin: none;
}

#banner2 a 
{
	color: #fff;
	text-decoratin: none;
}